.card {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 386px;
  padding: 30px 25px;
  padding-bottom: 14px;

  background-color: $dark-blue;
  color: #ffffff;
  justify-content: flex-start;
  overflow: auto;

  @include vp-767 {
    width: 100%;

    justify-self: stretch;
  }

  &__title {
    position: absolute;
    bottom: 24px;
    left: 28px;

    font-size: 18px;
    font-weight: 500;
    order: 10;
    z-index: 100;

    margin: 0;

    @include vp-1023 {
      bottom: 31px;
      left: 35px;
    }

    @include vp-767 {
      bottom: 18px;
      left: 25px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 12px;
  }

  &__information-definition {
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 9px;

    color: #d8d8d9;
  }

  &__information-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 2.5px;

    color: #f9fbfd;
  }

  &__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    background-color: #f9fbfd;
    text-align: center;
    padding: 12px 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: 30% 0;
    width: 100%;
    height: 100%;

    display: block;

    @include vp-1023 {
      object-position: 50%;
    }
  }
}

.card:hover .card__image {
  display: none;
}

.card:hover .card__title {
  position: static;
  order: -1;
}

.card:hover {
  padding-left: 25px;
}

.card:focus .card__title {
  position: static;
  order: -1;
}

.card:focus .card__image {
  display: none;
}

.card:focus {
  padding-left: 25px;
}

.card__button:focus ~ picture > .card__image {
  display: none;
}

.card__button:focus ~ .card__title {
  position: static;
  order: -1;
}
