.contacts {
  &__wrapper {
    display: grid;
    grid-template-columns: 47% 1fr;
    column-gap: 10%;

    @include vp-1023 {
      column-gap: 5%;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;

      margin-bottom: 17px;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 22px;
  }

  &__phone-link:hover {
    opacity: 0.6;
  }

  &__icon {
    margin-right: 10px;
  }

  &__address {
    @include vp-1023 {
      max-width: 255px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    margin-top: 75px;
    margin-bottom: 30px;

    @include vp-1023 {
      margin-top: 68px;
      margin-bottom: 28px;
    }

    @include vp-767 {
      margin-top: 4px;
    }
  }

  &__map-container {
    grid-area: 1 / 1 / 5 / 2;

    & iframe {
      display: block;
      border: none;
      width: 100%;
      height: 306px;

      @include vp-1023 {
        height: 335px;
      }
    }

    @include vp-767 {
      margin-top: -5px;
    }
  }
}
