.feedback {
  min-height: 556px;

  background-color: #ffffff;
  background-image: url("../img/form-image.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form-image@2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include vp-767 {
    background-position: top 0 right 45%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(1fr, 496px), minmax(1fr, 400px);
    column-gap: 13.5%;
    padding: 50px 60px;

    @include vp-1365 {
      display: flex;
      flex-direction: column;
      padding: 90px 0;
      padding-bottom: 100px;
    }

    @include vp-767 {
      padding: 65px 0;
      padding-top: 57px;
      padding-bottom: 60px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;

    grid-column: 1 / 2;
    margin: 0;
    margin-bottom: 9px;

    color: #011c40;

    @include vp-1365 {
      font-size: 34px;

      margin-bottom: 7px;

      text-align: center;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 120%;

      margin-bottom: 18px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;

    padding-top: 165px;

    @include vp-1365 {
      padding-top: 0;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;

    grid-column: 1 / 2;
    margin: 0;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 345px;

    @include vp-1365 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 125%;

      max-width: 276px;
      margin-bottom: 40px;
    }
  }

  &__form-section {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    max-width: 403px;

    @include vp-1365 {
      margin: 0 auto;
    }
  }
}
