.footer {
  background-color: $dark-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 50px 0;

    @include vp-767 {
      flex-direction: column;

      padding-top: 40px;
      padding-bottom: 60px;
    }
  }

  &__logo {
    margin-right: 40px;

    fill: #ffffff;

    @include hover-focus {
      opacity: 0.6;
      cursor: pointer;
    }

    @include vp-1023 {
      width: 38px;
      height: 20px;

      margin-right: 0;
    }

    @include vp-767 {
      width: 42px;
      height: 22px;

      margin: 0;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  &__navigation {
    margin: 0;
    margin-right: auto;

    @include vp-1023 {
      margin: 0 auto;
      position: relative;
      left: -11px;
    }

    @include vp-767 {
      margin-left: 10px;
    }
  }

  &__navigation-list {
    @include vp-767 {
      flex-direction: column;
      margin-bottom: 20px;
      margin-right: auto;
    }
  }

  &__navigation-item {
    @include vp-767 {
      margin: 0;
      margin-right: auto;

      & + & {
        margin: 0;
        margin-top: 8px;
      }
    }
  }

  &__social-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    list-style-type: none;

    align-items: center;

    @include vp-1023 {
      margin-left: 30px;
    }

    @include vp-767 {
      margin: 0;
      margin-right: auto;
    }
  }

  &__social-item {
    @include hover-focus {
      opacity: 0.6;
      cursor: pointer;
    }

    & + & {
      margin-left: 27px;

      @include vp-1023 {
        margin-left: 20px;
      }
    }
  }

  &__social-icon {
    @include vp-1023 {
      height: 16px;
    }
  }
}

.main-page {
  flex-grow: 1;
}
